#todoitem {
display: inline-block;
width: 800px;
height: 100%;
background-color: burlywood;
}

ul {
    color: blueviolet;
}

.modi {
 background-color:darkkhaki;
 
}

.del {
    background-color:rosybrown;
   
}
